.wrapper {
  margin: 100px auto;
  max-width: 600px;
}

.form {
  &__container {
    align-items: center;
    margin-bottom: 10px;
    &-rememberMe {
      display: flex;
      margin-bottom: 10px;
    }
  }
}

.field {
  &-button {
    display: block;
    width: 80%;
    margin: auto;
  }
}